@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Inter:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f4f1ea;
  --gray-light: #ffffff;
  --gray-dark: #e8e4df;
  --foreground: #1e1e1e;
  --primary: #fdf1ec;
  --priority-high: #964b33;
  --priority-high-soft: #c38b77;
  --priority-medium: #4a5d3e;
  --priority-medium-soft: #828e70;
  --priority-low: #6b6359;
  --priority-low-soft: #c5bbaf;

  --font-main: 'Inter', sans-serif;
  --font-titles: 'Caveat', cursive;
}

body {
  font-family: var(--font-main);
  color: var(--background);
  line-height: 1.6;
}
