@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Inter:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f9f7f2;
  --foreground: #433e37;
  --primary: #e6d5b8;
  --priority-high: #d4a373;
  --priority-medium: #ccd5ae;
  --priority-low: #e9edc9;
  --gray-light: #fdfcfb;
  --accent: #bfa07a;

  --font-main: 'Inter', sans-serif;
  --font-titles: 'Caveat', cursive;
}

body {
  font-family: var(--font-main);
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.6;
}
