@import './globals.css';

.board-layout {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 90vh;
  overflow: hidden;
  gap: 10px;
}

.title {
  color: var(--priority-high);
  font-weight: bold;
  font-family: var(--font-titles);
  text-align: center;
}

@media (min-width: 768px) {
  .board-layout {
    flex-direction: row;
  }

  .board-layout > * {
    flex: 1;
  }
}
