@import '../app/globals.css';

.column-container {
  background-color: var(--primary);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  border: 1px solid var(--primary);
  border-radius: 20px;

  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 2px 4px rgba(67, 62, 55, 0.06);
}

.column-container::-webkit-scrollbar {
  display: none;
}

.column-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.day-name {
  font-family: var(--font-titles);
  font-weight: bold;
  font-size: x-large;
}

.column-container:hover {
  cursor: pointer;
  transform: translateY(-4px);
  border: 1px solid rgba(67, 62, 55, 0.12);
  box-shadow: 0 20px 30px rgba(67, 62, 55, 0.15) 2;
}

.add-task-btn {
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--priority-high-soft);
  color: var(--priority-high);
  font-size: 1.2rem;
  font-weight: 300;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.add-task-btn:hover {
  opacity: 1;
  background-color: var(--priority-high-soft);
  color: white;
}
